<div class="landing_container">
  <header class="header">
    <div class="header_background"></div>
    <div class="header_items">
      <nav class="header_nav">
        <img src="../../../assets/img-landing/dreams.png" class="dreams">
        <ul class="header_nav__list">
          <li class="nav_item"><a href="" class="nav_link">Home</a></li>
          <li class="nav_item"><a href="" class="nav_link">Services</a></li>
          <li class="nav_item"><a href="" class="nav_link">Portfolio</a></li>
          <li class="nav_item"><a href="" class="nav_link">About</a></li>
          <li class="nav_item"><a href="" class="nav_link">Team</a></li>
          <li class="nav_item"><a href="" class="nav_link">Contact</a></li>
        </ul>
      </nav>
      <div class="header__title">
        <h1 class="title">Build the WebSite of Your Dreams</h1>
        <hr class="hr">
        <p class="description">
          We are digital agency thet believes in building things
          that are meaningful
        </p>
      </div>
    </div>
  </header>
  <main class="main">
    <h1 class="title">CORE SERVICES</h1>
    <ul class="advantages_list">
      <li class="advantage_item">
        <img src="../../../assets/img-landing/tools.png">
        <h3 class="advantage_item__title">Beautiful Designs</h3>
        <p class="advantage_item__description">
          lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        </p>
      </li>
      <li class="advantage_item">
        <img src="../../../assets/img-landing/tools.png">
        <h3 class="advantage_item__title">Beautiful Designs</h3>
        <p class="advantage_item__description">
          lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        </p>
      </li>
      <li class="advantage_item">
        <img src="../../../assets/img-landing/tools.png">
        <h3 class="advantage_item__title">Beautiful Designs</h3>
        <p class="advantage_item__description">
          lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        </p>
      </li>
    </ul>
    <div class="another_advantages">
      <h1 class="title">OTHER EXPERTISE</h1>
      <p>some text that a don`t write some text that a don`t write some text that a don`t write
        some text that a don`t write
      </p>
      <ul class="another_advantages__list">
        <li class="another_advantages__item">
          <i class="fa-cog"></i>
          <h4>COSTUM SETUP</h4>
          <p class="another_advantages_item__description">
            lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
          </p>
        </li>
        <li class="another_advantages__item">
          <i class="fa-cog"></i>
          <h4>COSTUM SETUP</h4>
          <p class="another_advantages_item__description">
            lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
          </p>
        </li>
        <li class="another_advantages__item">
          <i class="fa-cog"></i>
          <h4>COSTUM SETUP</h4>
          <p class="another_advantages_item__description">
            lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
          </p>
        </li>
        <li class="another_advantages__item">
          <i class="fa-cog"></i>
          <h4>COSTUM SETUP</h4>
          <p class="another_advantages_item__description">
            lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
          </p>
        </li>
      </ul>
      <img src="../../../assets/img-landing/image-low-width.png">
    </div>
    <div class="portfolio_block">
      <h1 class="title portfolio_title">AMAZING PORTFOLIO</h1>
      <p class="description">
        lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        lorem ispum dolor sit amet lorem ispum
      </p>
      <p class="description">
        lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        lorem ispum dolor sit amet lorem ispum dolor sit amet
      </p>
      <ul>
        <li>
          <i></i>
          <h3></h3>
          <p></p>
        </li>
        <li>
          <i></i>
          <h3></h3>
          <p></p>
        </li>
        <li>
          <i></i>
          <h3></h3>
          <p></p>
        </li>
      </ul>
    </div>
  </main>
  <footer class="footer">

  </footer>
</div>
