<div class="landing_container">
  <header class="header">
    <div class="header_background"></div>
    <div class="header_items">
      <nav class="header_nav">
        <img src="../../../assets/img-landing/dreams.png" class="dreams">
        <ul class="header_nav__list">
          <li class="nav_item"><a href="" class="nav_link">Home</a></li>
          <li class="nav_item"><a href="" class="nav_link">Services</a></li>
          <li class="nav_item"><a href="" class="nav_link">Portfolio</a></li>
          <li class="nav_item"><a href="" class="nav_link">About</a></li>
          <li class="nav_item"><a href="" class="nav_link">Team</a></li>
          <li class="nav_item"><a href="" class="nav_link">Contact</a></li>
        </ul>
      </nav>
      <div class="header__title">
        <h1 class="title">Build the WebSite of Your Dreams</h1>
        <hr class="hr">
        <p class="description_header">
          We are digital agency thet believes in building things
          that are meaningful
        </p>
      </div>
    </div>
  </header>
  <main class="main">
    <h1 class="title main_title">CORE SERVICES</h1>
    <hr class="hr">
    <ul class="advantages_list">
      <li class="advantage_item">
        <img src="../../../assets/img-landing/tools.png">
        <h3 class="advantage_item__title">Beautiful Designs</h3>
        <p class="description advantage_item__description">
          lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        </p>
      </li>
      <li class="advantage_item">
        <img src="../../../assets/img-landing/tools.png">
        <h3 class="advantage_item__title">Beautiful Designs</h3>
        <p class="description advantage_item__description">
          lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        </p>
      </li>
      <li class="advantage_item">
        <img src="../../../assets/img-landing/tools.png">
        <h3 class="advantage_item__title">Beautiful Designs</h3>
        <p class="description advantage_item__description">
          lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        </p>
      </li>
    </ul>
    <div class="another_advantages">
      <div class="another_advantages__text-block">
        <h1 class="title main_title another_advantages__title">OTHER EXPERTISE</h1>
        <p>some text that a don`t write some text that a don`t write some text that a don`t write
          some text that a don`t write
        </p>
        <ul class="another_advantages__list">
          <li class="another_advantages__item">
            <div class="icon_container">
              <i class="fas fa-cog"></i>
            </div>
            <div class="text_container">
              <h4 class="expertise_title">COSTUM SETUP</h4>
              <p class="description">
                lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              </p>
            </div>
          </li>

          <li class="another_advantages__item">
            <div class="icon_container">
              <i class="fas fa-cog"></i>
            </div>
            <div class="text_container">
              <h4 class="expertise_title">COSTUM SETUP</h4>
              <p class="description">
                lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              </p>
            </div>
          </li>

          <li class="another_advantages__item">
            <div class="icon_container">
              <i class="fas fa-cog"></i>
            </div>
            <div class="text_container">
              <h4 class="expertise_title">COSTUM SETUP</h4>
              <p class="description">
                lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              </p>
            </div>
          </li>

          <li class="another_advantages__item">
            <div class="icon_container">
              <i class="fas fa-cog"></i>
            </div>
            <div class="text_container">
              <h4 class="expertise_title">COSTUM SETUP</h4>
              <p class="description">
                lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              </p>
            </div>
          </li>
        </ul>
        <button class="more__btn">LEARN MORE</button>
      </div>
      <div class="another_advantages__image-container">
        <img class="another_advantages__image" src="../../../assets/img-landing/image-low-width.png">
      </div>
    </div>
    <div class="portfolio_block">
      <h1 class="title main_title">AMAZING PORTFOLIO</h1>
      <p class="description">
        lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        lorem ispum dolor sit amet lorem ispum
      </p>
      <p class="description">
        lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
        lorem ispum dolor sit amet lorem ispum dolor sit amet
      </p>
      <ul>
        <li>
          <div class="icon_container">
            <i class="fas fa-cog"></i>
          </div>
          <div class="text_container">
            <h3 class="expertise_title">SAIL AWAY YOUR WORRIES</h3>
            <p class="description">lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              lorem ispum dolor sit amet lorem ispum dolor sit amet
            </p>
          </div>
        </li>

        <li>
          <div class="icon_container">
            <i class="fas fa-cog"></i>
          </div>
          <div class="text_container">
            <h3 class="expertise_title">SAIL AWAY YOUR WORRIES</h3>
            <p class="description">lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              lorem ispum dolor sit amet lorem ispum dolor sit amet
            </p>
          </div>
        </li>

        <li>
          <div class="icon_container">
            <i class="fas fa-cog"></i>
          </div>
          <div class="text_container">
            <h3 class="expertise_title">SAIL AWAY YOUR WORRIES</h3>
            <p class="description">lorem ispum dolor sit amet lorem ispum dolor sit amet lorem ispum dolor sit amet
              lorem ispum dolor sit amet lorem ispum dolor sit amet
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="galery">
      <img class="galery_image" src="../../../assets/img-landing/image-1.png" alt="">
      <img class="galery_image" src="../../../assets/img-landing/image-2.png" alt="">
      <img class="galery_image" src="../../../assets/img-landing/image-3.png" alt="">
      <img class="galery_image" src="../../../assets/img-landing/image-4.png" alt="">
      <img class="galery_image" src="../../../assets/img-landing/image-5.png" alt="">
      <img class="galery_image" src="../../../assets/img-landing/image-6.png" alt="">
    </div>
    <div class="about">
      <h1 class="title main_title">ABOUT US</h1>
      <hr class="hr">
      <ul class="tl">
        <li>
          <!--<div class="tl-badge success">-->
          <!--</div>-->
          <img class="tl-badge" src="../../../assets/img-landing/image%20(4).png">
          <div class="tl-panel">
            <div class="tl-heading">
              <h4 class="tl-title">Timeline Event</h4>
            </div>
            <div class="tl-body">
              <p>Here is the content for your timeline event. Enter a small paragraph to describe the event in detail.</p>
            </div>
          </div>
        </li>
        <li class="tl-inverted">
          <img class="tl-badge" src="../../../assets/img-landing/image%20(3).png">
          <div class="tl-panel">
            <div class="tl-heading">
              <h4 class="tl-title">Timeline Event</h4>
            </div>
            <div class="tl-body">
              <p>Here is the content for your timeline event. Enter a small paragraph to describe the event in detail.</p>
            </div>
          </div>
        </li>
        <li>
          <img class="tl-badge" src="../../../assets/img-landing/image%20(2).png">
          <div class="tl-panel">
            <div class="tl-heading">
              <h4 class="tl-title">Timeline Event</h4>
            </div>
            <div class="tl-body">
              <p>Here is the content for your timeline event.
                Enter a small paragraph to describe the event in detail.</p>
            </div>
          </div>
        </li>
        <li class="tl-inverted">
          <img class="tl-badge" src="../../../assets/img-landing/image%20(1).png">
          <div class="tl-panel">
            <div class="tl-heading">
              <h4 class="tl-title">Timeline Event</h4>
            </div>
            <div class="tl-body">
              <p>Here is the content for your timeline event.
                Enter a small paragraph to describe the event in detail.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="tl-badge info">
            My history just begins...
          </div>
          <div class="tl-panel">
            <div class="tl-heading">
              <h4 class="tl-title">Timeline Event</h4>
            </div>
            <div class="tl-body">
              <p>Here is the content for your timeline event.
                Enter a small paragraph to describe the event in detail.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="awesome_me">
      <h1 class="title main_title">Awesome Me</h1>
      <hr class="hr">
      <img class="my_photo" src="../../../assets/img-landing/my_photo.jpg">
      <h3 class="expertise_title">Vlad Senchuk</h3>
      <p class="description">Coder</p>
      <div class="socials">
        <a href=""><i class="fab fa-facebook-f social_icons"></i></a>
        <a href=""><i class="fab fa-google-plus-g social_icons"></i></a>
        <a href=""><i class="fab fa-twitter social_icons"></i></a>
      </div>
      <p>some text some text some text some text some text some text some text some text some text some text </p>
    </div>
  </main>
  <footer class="footer">
    <div class="footer_container">
      <div class="contacts_container">
        <h1 class="title main_title">CONTACT US</h1>
        <p>Don`t be shy, drop us an email and say hello! We are really nice bunch of people :)</p>
        <ul>
          <li>
            <i class="fas fa-twitter"></i>
            <p>@dreams</p>
          </li>
          <li>
            <i class="fas fa-mobile"></i>
            <p>(416)555-0000</p>
          </li>
          <li>
            <i class="fas fa-google-plus-g"></i>
            <p>plus.com/dreams</p>
          </li>
        </ul>
        <ul>
          <li>
            <i class="fas fa-mail"></i>
            <p>hello@dreams.com</p>
          </li>
          <li>
            <i class="fas fa-facebook"></i>
            <p>facebook.com/dreams</p>
          </li>
          <li>
            <i class="fas fa-pinterest"></i>
            <p>pinterest.com/dreams</p>
          </li>
        </ul>
      </div>
      <div class="feedback_form">
        <form action="">
          <input type="text" placeholder="Your Name *">
          <input type="text" placeholder="Your Email *">
          <textarea cols="30" rows="10"></textarea>
        </form>
      </div>
    </div>
  </footer>
</div>
